button {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	font-weight: 500;
}

a {
	all: unset;
	cursor: pointer;
}

a:hover,
button:hover,
a:hover *,
button:hover * {
	transition: color 300ms ease-in-out;
	@apply text-accent;
}

a,
button,
a *,
button * {
	transition: color 300ms ease-out;
}

img {
	width: 100%;
	height: auto;
	object-fit: cover;
}
